* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


.write {
    background-color: white;
    padding: 5px 10px;
    box-shadow: inset 0px 0px 0px 1px rgba(152,152,152,0.3);
}

.write input {
    border: 0;
    width: 100%;
}

.write input:focus {
    outline: none;
}

/*** SFONDO ***/
#all {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#top {
    height: 125px;
    background-color: #1EBEA5;
}

#bottom {
    height: calc(100vh - 125px);
    background-color: #D6DBD7;
}

/***    ***/

/*** CONTAINER CENTRALE ***/
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 95vh;
    width: 1440px;
    background-color: white;
}

/*** STILE GENERALE DUE SEZIONI. 1-LISTA CONTATTI 2-MESSAGGI ***/
.sez {
    float: left;
    height: 95vh;
}

.sez.left {
    width: 30%;
}

.sez.right {
    width: 70%;
}

/***    ***/

/*** STILE LISTA CONTATTI ***/
.top-container {
    height: 55px;
    background-color: #EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container.left {
    border-right: 1.5px solid rgba(191,191,191,0.5);
}

.top-images {
    height: inherit;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
}

.top-images img {
    height: 90%;
    float: left;
    clear: both;
    background-color: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.top-images.my-profile img {
    margin-top: 5px;
}

.top-icons i {
    font-size: 18px;
    margin-right: 10px;
    color: rgba(152,152,152,0.6);
    transition: 0.3s;
    padding: 3px;
    cursor: pointer;
}

.top-icons i:hover {
    color: rgba(152,152,152,1)
}

.bottom-container.left {
    height: calc( 100% - 55px);
}

#noti-activemess {
    height: 60px;
    background-color: #8EDAFC;
}

#noti-activemess i, #noti-activemess p {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}

#noti-activemess i {
    float: left;
    font-size: 16px;
    padding: 10px 9px;
    background-color: white;
    color: #8EDAFC;
    border-radius: 50%;
}

#noti-activemess a {
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}

#search-mess {
    height: 40px;
    background-color: #EFEFEF;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5px;
}

.search-butt a {
    float: left;
    width: 20%;
    background-color: white;
    padding: 5px 10px;
    text-align: center;
    color: rgba(152,152,152,0.6);
    box-shadow: inset 0px 0px 0px 1px rgba(152,152,152,0.2);
}

.write.search-zone {
    float: left;
    width: 80%;
}

#conversations {
    overflow-y: auto;
    height: calc(100% - 40px - 60px);
}

.n-conv {
    height: 60px;
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.n-conv.active {
background-color: rgba(152,152,152,0.3);
}

.img-conv {
    float: left;
    width: 15%;
}

.img-conv img {
    width: 80%;
    background-color: #EEEFF2;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 5px;
}

.mess-conv  {
    float: left;
    width: 85%;
    padding-left: 10px;
    padding-top: 10px;
}

.mess-conv span {
    font-size: 14px;
    color: rgba(152,152,152,0.6);
}

.n-conv  {
    padding-bottom: 10px;
}

.n-conv:not(:last-child)  {
    padding-bottom: 65px;
    border-bottom: 1px solid rgba(152,152,152,0.2);
}

/*** STILE MESSAGGI ***/
.top-container.right .top-images p {
    text-align: left;
    display: block;
    white-space: nowrap;
    margin-left: 55px;
}

.top-container.right .top-images p:not(:last-child) {
    margin-top: 5px;
}

.top-container.right .top-images p:last-child {
    color: rgb(152,152,152);
}

.top-img-pos {
    display: none;
}

.top-img-pos.active {
    display: block;
}

.central-message-zone {
    background-image: url("https://66.media.tumblr.com/53a35e7ed66f3159e01f3663af30706b/tumblr_ouztgbH0CG1vj8v9mo1_1280.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    height: calc(100% - 55px - 55px);
    overflow-y: auto;
}

.mess-t {
    clear: both;
    margin: 20px;
    width: 325px;
    padding: 15px;
    border-radius: 5px;
    position: relative;
}

.mess-t::after {
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-right: -10px;
}

.mess-t.sent::after {
    border-left-color: lightgreen;
    right: 0;
}

.mess-t.received::after {
    left: 0;
	border: 10px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-left: -10px;
}

.mess-t.received {
    float: left;
    background-color: white;
}

.mess-t.sent {
    float: right;
    background-color: lightgreen;
}

.mess-t .mess-time {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: rgba(152,152,152,0.7);
}

.mess-t .mess-option {
    font-size: 12px;
    margin-left: 10px;
    color: rgba(152,152,152,0.7);
    display: none;
}

.mess-t:hover .mess-option {
    display: inline-block;
}

.send-mess {
    background-color: rgba(152,152,152,0.1);
    height: 55px;
}

#emoji,#send-button {
    float: left;
    width: 5%;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

#emoji i, #send-button i {
    font-size: 20px;
    color: rgb(152,152,152);
}

#write-mess {
    float: left;
    width: 90%;
    margin-top: 15px;
}

.template {
    display: none;
}
